<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Notebook</title>
</head>
<style>
    .body {
        display: flex;
        flex-direction: column;
    }
</style>

<body class="body">
    <nav>{{email}}</nav>

    {{{body}}}
</body>



</html>