<style>
    form {
        display: flex;
        flex-direction: column;
    }

    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<html>
<div>
    <h1>You logged in as</h1>
    <ul>

        <li>{{firstName}}
            {{lastName}}
        </li>
        <li>
            {{email}}
        </li>
    </ul>
    <h2>Continue to the service</h2>
    <a href="http://localhost:5000/login-success?user={{userURIComponent}}">Chat</a>

</div>



</html>